* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #ff7f50; 
    color: white;
    text-align: center;
    padding: 1.5rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
}
nav {
    background-color: #ffa07a; 
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1rem;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #ff4500;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.item {
    background: #ffe4b5; 
    padding: 15px;
    width: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}


.item img {
    width: 100%;
    height: auto; 
    max-height: 250px; 
    object-fit: contain; 
    border-radius: 8px;
    cursor: pointer;
}

.item h3 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #ff4500; 
}

.item p {
    font-size: 1rem;
    color: #333;
    text-align: center;
}

.item button {
    padding: 10px 20px;
    background-color: #20b2aa; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    transition: background-color 0.3s;
    text-align: center;
}

.item button:hover {
    background-color: #05aaf7; 
    
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    margin-top: 20px;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .item {
        width: 80%;
    }
    .item img {
        max-height: 200px; 
    }
}


button{
    text-align: center;
}